<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg">
    <div id="wrapper">

        <!-- <div class="slide" id="scatter">
            <div class="chatter">About 1,700 <span class="legendary grayblue4">model bills</span> were introduced either in Minnesota's House or Senate from 2012 through 2018. The LID score indicates what percetage of the bill's text was lifted straight from a model bill, with 100 being a nearly perfect match.</div>
    
            <div class="chart" id="chartScatter"></div>
    
            <div class="byline">Data source: USA Today | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
        </div> -->

        <div class="slide" id="trend">
            <div class="chatter">The number of unique <span class="legendary grayblue4">model bills</span> introduced in Minnesota's legislature each session has increased from 2011 to 2018.</div>
    
            <div class="chart" id="chartTrend"></div>
    
            <div class="byline">Data source: USA Today | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
        </div>
    
        <div class="slide" id="breakdown">
          <div class="chatter">The nearly 280 unique bills using model language introduced in the Minnesota House and Senate from 2011 to 2018 shared some common traits.</div>
          <p></p>
          <div id="chartCharge" class="chart">
            <div class="label">Lean of bill's language</div>
            <div class="bar">
              <div class='grayblue6 mainbar' style="width:42%"><div>Conservative<br />42%</div></div><div class='grayblue5 mainbar' style="width:29%"><div>Industry<br />29%</div></div><div class='grayblue4 mainbar' style="width:27%"><div>Liberal<br />27%</div></div><div class='grayblue3 mainbar' style="width:2%"><div><br />&nbsp;</div></div>
            </div>
              
            <div class="label">Party introducing bill</div>
            <div class="bar">
              <div class='grayblue6 mainbar' style="width:58%"><div>None/Bipartisan<br />58%</div></div><div class='grayblue5 mainbar' style="width:26%"><div>DFL<br />26%</div></div><div class='grayblue4 mainbar' style="width:16%"><div>GOP<br />16%</div></div>
            </div>

            <div class="label">Bill subject</div>
            <div class="bar">
              <div class='grayblue6 mainbar' style="width:30%"><div>Public Safety<br />30%</div></div><div class='grayblue5 mainbar' style="width:27%"><div>Economics<br />27%</div></div><div class='grayblue4 mainbar' style="width:16%"><div>Health<br />16%</div></div><div class='grayblue3 mainbar' style="width:27%"><div>Other<br />27%</div></div>
            </div>

            <div class="label">Bill progress</div>
            <div class="bar">
              <div class='grayblue6 mainbar' style="width:83%"><div>Introduced<br />83%</div></div><div class='grayblue5 mainbar' style="width:11%"><div>Passed<br />11%</div></div><div class='grayblue4 mainbar' style="width:6%"><div><br />&nbsp;</div></div>
              </div>
              <div class="byline">Data source: USA Today | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
        </div>
      </div>


  </div>
  </div>
</main>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
