<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg">
    <div id="wrapper">

        <div class="slide" id="scatter">
            <!-- <div class="chartTitle">Force use outpacing conviction rates</div> -->
            <div class="chatter">About 1,700 <span class="legendary grayblue4">model bills</span> were introduced either in Minnesota's House or Senate from 2012 through 2018. The LID score indicates what percetage of the bill's text was lifted straight from a model bill, with 100 being a nearly perfect match.</div>
    
            <div class="chart" id="chartScatter"></div>
    
            <div class="byline">Data source: USA Today | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
        </div>

        <div class="slide" id="trend">
            <!-- <div class="chartTitle">Force use outpacing conviction rates</div> -->
            <div class="chatter">Total number of <span class="legendary grayblue4">model bills</span> introduced to Minnesota's legislature by year.</div>
    
            <div class="chart" id="chartTrend"></div>
    
            <div class="byline">Data source: USA Today | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
        </div>
    
        <div class="slide" id="breakdown">
          <div class="chatter">Model bills in Minnesota's legislature share some common traits.</div>
          <div id="chartCharge">
            <div class="label">LID score</div>
              <div class="bar">
                <div class='grayblue6 mainbar' style="width:49%"><div>50-59<br />49%</div></div><div class='grayblue5 mainbar' style="width:22%"><div>60-69<br />23%</div></div><div class='grayblue4 mainbar' style="width:8%"><div>70-79<br />7%</div></div><div class='grayblue3 mainbar' style="width:21%"><div>80-100<br />22%</div></div>
            </div>

            <div class="label">Lean of bill's source</div>
            <div class="bar">
              <div class='grayblue6 mainbar' style="width:47%"><div>Industry<br />47%</div></div><div class='grayblue5 mainbar' style="width:36%"><div>Conservative<br />36%</div></div><div class='grayblue4 mainbar' style="width:15%"><div>Liberal<br />15%</div></div><div class='grayblue3 mainbar' style="width:2%"><div><br />&nbsp;</div></div>
            </div>
              
            <div class="label">Party introducing bill</div>
            <div class="bar">
              <div class='grayblue6 mainbar' style="width:34%"><div>Bipartisan<br />35%</div></div><div class='grayblue5 mainbar' style="width:25%"><div>None<br />25%</div></div><div class='grayblue4 mainbar' style="width:22%"><div>GOP<br />22%</div></div><div class='grayblue3 mainbar' style="width:19%"><div>DFL<br />19%</div></div>
            </div>

            <div class="label">Bill subject</div>
            <div class="bar">
              <div class='grayblue6 mainbar' style="width:28%"><div>Public Safety<br />28%</div></div><div class='grayblue5 mainbar' style="width:18%"><div>Healthcare<br />18%</div></div><div class='grayblue4 mainbar' style="width:18%"><div>Economics<br />18%</div></div><div class='grayblue3 mainbar' style="width:10%"><div>Education<br />10%</div></div><div class='grayblue2 mainbar' style="width:26%"><div>Other<br />26%</div></div>
              </div>

            <div class="label">Bill progress</div>
            <div class="bar">
              <div class='grayblue6 mainbar' style="width:80%"><div>Introduced<br />80%</div></div><div class='grayblue5 mainbar' style="width:16%"><div>Passed<br />16%</div></div><div class='grayblue4 mainbar' style="width:4%"><div><br />&nbsp;</div></div>
              </div>
              <div class="byline">Data source: USA Today | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
        </div>
      </div>


  </div>
  </div>
</main>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
